{% extends 'base.html.twig' %}
{% block content %}
    <div class="page_header">
        <div class="bcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="bcrumbs">
                            <li><a href="#"><i class="fa fa-home"></i> Evenement</a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <div class="inner-content">
    <div class="container">



{% if is_granted ('ROLE_USER') %}

    <div class="block-heading">
        <h3><span>Ajouter evenement</span></h3>
    </div>
    <div class="panel-group" id="accordion-alt1">
    <div class="panel faq-acc1">
    <!-- Panel heading -->
    <div class="panel-heading">
        <h4 class="panel-title">

            {{ form_start(form) }}

            <div>   {{ form_row(form.nomEvt, { 'label': 'nom de l evenement', 'attr':{'class':'form-control', 'placeholder': "Ecrire ici"}}) }}
            </div>
            <br>
            <div>{{ form_row(form.description, {'label': 'Description','attr':{'class':'form-control'}}) }}
            </div>
            <br>
            <div>{{ form_row(form.date, {'label': 'Date','attr':{'class':'form-control'}}) }}</div>
            <br>
            <div>{{ form_row(form.image, {'label': 'Ajoutez une image','attr':{'class':'form-control'}}) }}</div>
            <br>
            <div>{{ form_row(form.categorie, {'label': 'Catégorie','attr':{'class':'form-control'}}) }}</div>
            <br>
            <div>{{ form_row(form.Ajouter,{'label':'Ajouter','attr':{'class':'btn btn-border btn-primary'}}) }}</div>

            {{ form_end(form) }}
        </h4>

        {% else %}
        <h3>Inscrivez-vous</h3>



        {% endif %}

    </div>

{#
    <div class="clearfix space60"></div>
    <div class="block-heading">
        <h3><span>Liste des sujets</span></h3>
    </div>

    {% for s in sujets | reverse %}

        <div class="row">
            <div class="col-md-6">
                <div class="panel-group" id="accordion-alt2">
                    <div class="panel faq-acc2">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="{{ path('sujet_show',{'id':s.id}) }}"> <!-- href lel show ;) -->
                                    <i class="icon-help2"></i> {{ s.question }}
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="collapseOne-alt2" class="panel-collapse collapse">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

#}








    <div class="clearfix space60"></div>

    <!-- STYLE SWITCHER
============================================= -->
    <div class="b-settings-panel">
        <div class="settings-section">
                  <span>
                     Boxed
                  </span>
            <div class="b-switch">
                <div class="switch-handle"></div>
            </div>
            <span>
                     Wide
                  </span>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Main Background</h5>
        <div class="settings-section bg-list">
            <div class="bg-pattern1"></div>
            <div class="bg-pattern2"></div>
            <div class="bg-pattern6"></div>
            <div class="bg-pattern10"></div>
            <div class="bg-pattern16"></div>
            <div class="bg-pattern4"></div>
            <div class="bg-pattern5"></div>
            <div class="bg-pattern7"></div>
            <div class="bg-pattern9"></div>
            <div class="bg-pattern11"></div>
            <div class="bg-pattern12"></div>
            <div class="bg-pattern13"></div>
            <div class="bg-pattern17"></div>
            <div class="bg-pattern8"></div>
            <div class="bg-pattern14"></div>
            <div class="bg-pattern15"></div>
            <div class="bg-pattern3"></div>
            <div class="bg-pattern18"></div>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Color Scheme</h5>
        <div class="settings-section color-list">
            <div data-src="css/color-scheme/moderate-green.css" style="background: #8ec249"></div>
            <div data-src="css/color-scheme/vivid-blue.css" style="background: #228dff"></div>
            <div data-src="css/color-scheme/orange.css" style="background: #fa6900"></div>
            <div data-src="css/color-scheme/brown.css" style="background: #a68c69"></div>
            <div data-src="css/color-scheme/yellow.css" style="background: #fabe28"></div>
            <div data-src="css/color-scheme/violet.css" style="background: #ba01ff"></div>
            <div data-src="css/color-scheme/strong-cyan.css" style="background: #00b9bd"></div>
            <div data-src="css/color-scheme/soft-cyan.css" style="background: #4bd5ea"></div>
            <div data-src="css/color-scheme/red.css" style="background: #ff0104"></div>
            <div data-src="css/color-scheme/lite-brown.css" style="background: #f3a76d"></div>
            <div data-src="css/color-scheme/lime-green.css" style="background: #3bdbad"></div>
            <div data-src="css/color-scheme/light-voilet.css" style="background: #aaa5ff"></div>
            <div data-src="css/color-scheme/gray-green.css" style="background: #697060"></div>
            <div data-src="css/color-scheme/gray-cyan.css" style="background: #aeced2"></div>
            <div data-src="css/color-scheme/de-green.css" style="background: #b6cd71"></div>
            <div data-src="css/color-scheme/cream.css" style="background: #e0d6b2"></div>

        </div>
        <div class="btn-settings"></div>
    </div>
{% endblock %}