{% extends 'base.html.twig' %}
{% block content %}
    <div class="page_header">

        <div class="bcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="bcrumbs">
                            <li><a href="#"><i class="fa fa-home"></i> événement</a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <div class="inner-content">
        <div class="container">
            <section id="portfolio-section">
                <ul class="filter no-margin-top" data-option-key="filter">
                    <li><a class="selected" href="#filter" data-option-value="*">tout</a></li>
                    <li><a href="#" data-option-value=".branding">prochainement</a></li>
                    <li><a href="#" data-option-value=".illustration">tommorow</a></li>
                    <li><a href="#" data-option-value=".web-design">date non precie</a></li>

                </ul>
                <div id="portfolio-home" class="isotope gutter folio-boxed-4col">
                    <div class="project-item photography branding">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/1.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Aliquam tincidunt risus.</h2>
                                        <p>Web , Creative</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item illustration web-design illustration">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/2.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item illustration print">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/3.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item photography web-design">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/4.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item branding">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/5.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item illustration web-design print">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/6.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item photography branding illustration">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/7.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item illustration web-design">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/8.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item branding web-design print">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/9.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item photography branding">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/10.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item branding web-design">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/11.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item photography branding">
                        <a href="{{ path('evedet') }}">
                            <div class="project-gal">
                                <img src="images/projects/12.jpg" class="img-responsive" alt="">
                                <div class="overlay-folio2">
                                    <div class="project-info">
                                        <h2>Vestibulum auctor</h2>
                                        <p>Image Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- STYLE SWITCHER
============================================= -->
    <div class="b-settings-panel">
        <div class="settings-section">
				<span>
					Boxed
				</span>
            <div class="b-switch">
                <div class="switch-handle"></div>
            </div>
            <span>
					Wide
				</span>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Main Background</h5>
        <div class="settings-section bg-list">
            <div class="bg-pattern1"></div>
            <div class="bg-pattern2"></div>
            <div class="bg-pattern6"></div>
            <div class="bg-pattern10"></div>
            <div class="bg-pattern16"></div>
            <div class="bg-pattern4"></div>
            <div class="bg-pattern5"></div>
            <div class="bg-pattern7"></div>
            <div class="bg-pattern9"></div>
            <div class="bg-pattern11"></div>
            <div class="bg-pattern12"></div>
            <div class="bg-pattern13"></div>
            <div class="bg-pattern17"></div>
            <div class="bg-pattern8"></div>
            <div class="bg-pattern14"></div>
            <div class="bg-pattern15"></div>
            <div class="bg-pattern3"></div>
            <div class="bg-pattern18"></div>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Color Scheme</h5>
        <div class="settings-section color-list">
            <div data-src="css/color-scheme/moderate-green.css" style="background: #8ec249"></div>
            <div data-src="css/color-scheme/vivid-blue.css" style="background: #228dff"></div>
            <div data-src="css/color-scheme/orange.css" style="background: #fa6900"></div>
            <div data-src="css/color-scheme/brown.css" style="background: #a68c69"></div>
            <div data-src="css/color-scheme/yellow.css" style="background: #fabe28"></div>
            <div data-src="css/color-scheme/violet.css" style="background: #ba01ff"></div>
            <div data-src="css/color-scheme/strong-cyan.css" style="background: #00b9bd"></div>
            <div data-src="css/color-scheme/soft-cyan.css" style="background: #4bd5ea"></div>
            <div data-src="css/color-scheme/red.css" style="background: #ff0104"></div>
            <div data-src="css/color-scheme/lite-brown.css" style="background: #f3a76d"></div>
            <div data-src="css/color-scheme/lime-green.css" style="background: #3bdbad"></div>
            <div data-src="css/color-scheme/light-voilet.css" style="background: #aaa5ff"></div>
            <div data-src="css/color-scheme/gray-green.css" style="background: #697060"></div>
            <div data-src="css/color-scheme/gray-cyan.css" style="background: #aeced2"></div>
            <div data-src="css/color-scheme/de-green.css" style="background: #b6cd71"></div>
            <div data-src="css/color-scheme/cream.css" style="background: #e0d6b2"></div>

        </div>
        <div class="btn-settings"></div>
    </div>
    {% endblock %}