
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Ouibike | Admin</title>


    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('assets/vendors/iconfonts/mdi/css/materialdesignicons.css') }} />
        <link rel="stylesheet" href={{ asset('assets/vendors/css/vendor.addons.css') }} />
        <link rel="stylesheet" href={{ asset('assets/css/shared/style.css') }}/>
        <link rel="stylesheet" href={{ asset('assets/css/demo_1/style.css') }}>

    {% endblock %}
</head>

<body>


{% block content %}


{% endblock %}



{% block javascripts %}
    <script src={{ asset('assets/vendors/js/core.js') }}></script>

    <script src={{ asset('assets/vendors/apexcharts/apexcharts.min.js') }}></script>
    <script src={{ asset('assets/vendors/chartjs/Chart.min.js') }}></script>
    <script src={{ asset('assets/js/charts/chartjs.addon.js') }}></script>


    <script src={{ asset('assets/js/dashboard.js') }}></script>
{% endblock %}
</body>

</html>